body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.calc {
    width: 400px;
    height: 500px;
    border: 2px solid #fbfbfb61;
    border-radius: 10px;
    margin: auto;
    background: seashell;
}

#btn {
    width: 90%;
    height: 420px;
    margin: 10px auto 0 auto;
    background: blanchedalmond;
}

#btn button {
    width: 80px;
    height: 35px;
    margin: 15px 0 0 3px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(13, 179, 234);
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
}

#btn button:hover {
    background-color: #999;
    color: rgb(10, 0, 0);
    cursor: pointer;
}