body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}


.calc {
    width: 400px;
    height: 500px;
    border: 2px solid #030000ed;
    border-radius: 10px;
    margin: auto;
    background: rgba(8, 75, 182, 0);
}

#btn {
    width: 90%;
    height: 400px;
    margin: 10px auto 0 auto;
    background: rgba(251, 251, 251, 0.5);

}

#btn button {
    width: 80px;
    height: 35px;
    margin: 15px 0 0 3px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(13, 179, 234);
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
}

#btn button:hover {
    background-color: #999;
    color: rgb(10, 0, 0);
    cursor: pointer;
}